// fonts
$font-one: 'Roboto', sans-serif;

// colors
$color-brand: #FF9F1C;
$black: #000;
$white: #FFF;
$gray: #5B5B5B;
$color-font-header: #3D315B;
$color-font-detail: #A5A5A5;
$purple: #444B6E;
$purple-light: #8D99AE;