// fonts
$font-one: 'Roboto', sans-serif;

// colors
$color-brand: #FF9F1C;
$black: #000;
$white: #FFF;
$color-font-header: #3D315B;
$color-font-detail: #A5A5A5;
$color-footer-bg-contact: #444B6E;
$color-footer-bg-credit: #8D99AE;